<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="style.css" rel="stylesheet">
    <link href="https://imgs.search.brave.com/5qc7TkuIaSZkIrplnjDgC8gZQs8NPKpJh3D8odP4rxk/rs:fit:512:512:1/g:ce/aHR0cHM6Ly9pY29u/cy1mb3ItZnJlZS5j/b20vaWNvbmZpbGVz/L3BuZy81MTIvYnVs/YmFzYXVyLTEzMjA1/NjgxNzg2NTQwMTE1/NDAucG5n"
          rel="icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="script.js"></script>

    <title>Template Web site by Théo</title>
</head>
<body>
<h1>
    Flo est Juif
</h1>

    <form action="view.php" method="post">
        Nom: <input type="text" name="lastname"><br>
        Prénom: <input type="text" name="firstname"><br>

        Email: <input type="text" name="email"><br>

        adresse mail : <input type="text" name="mail"><br>
        numéro de téléphone: <input type="text" name="phone"><br>
        
        Expérience professionnel : <textarea name="experience" id="experience" cols="30" rows="10"></textarea><br>
        Parcours académique : <textarea name="school" id="school" cols="30" rows="10"></textarea><br>
        Hobbies : <textarea name="hobbies" id="Hobbies" cols="30" rows="10"></textarea><br>
            
        <input type="submit">
      </form>

</body>
</html>
